<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <%= csrf_meta_tags %>

  <title><%= site_title(yield(:title)) %></title>
  <%= favicon_link_tag %>
 
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

  <!--[if lt IE 9]>
  <script src="assets/html5shiv.js"></script>
  <![endif]-->
</head>
<body>
  <div id="wrapper">
    <%= render 'layouts/header' %>
    <%= render 'layouts/navbar' %>
    <div id="main-content">
      <%= yield %>
    </div>
  </div>

  <%= render 'layouts/footer' %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
